{% extends "home.html"%}
{%load static%}
{%block body_block%}
<br>
<h1 style="text-align:center;">Energy basics</h1>
<p style="text-align:center;font-size:0.9em"><i>A redbull and we're set?</i></p>
<p style="text-align:center;font-size:0.8em"><a href="#def">Definitions</a> / <a href="#unit">Units</a> / <a href="#kinetic">Kinetic energy</a> / <a href="#potential">Potential energy</a> / <a href="#mechanical">Mechanical energy</a></p>
<br>
<hr>
<br>
<br>
<br>
<a name="def"></a>
<h3>What is Energy ?</h3>
<p>In physics, energy is defined as the "capacity for doing work". This is vague, right ?</p>
<p>First, know that in physics, <strong>work</strong> is the cause for the displacement of an object.</p>
<p>Basically, energy is the ability to exert a force causing displacement of an object: it is the force that causes things to move.</p>
<p>Don't worry if things are getting a little abstract here, it is totally normal. Your understanding will improve when reading the following.</p>
<br>
<img class="bigger_illustration" style="width:80%;height:80%" src="https://as2.ftcdn.net/v2/jpg/04/27/43/97/1000_F_427439784_YhHTRW5zQZzJ1AQ5anblD5RTfmwcGcWe.jpg" alt="">
<br>
<p>For us, however, while studying motions, things will be even simpler than that: we will take energy as a unit that doesn't change. No matter where an object is or what velocity it has, <strong>energy is conserved through the motion</strong>.</p>
<p>This means that in our world, no matter how an object moves, its energy won't increase nor diminish.</p>
<br>
<h5>But why ?</h5>
<p>Well, this law is known as the <a href="https://energyeducation.ca/encyclopedia/Law_of_conservation_of_energy#:~:text=The%20law%20of%20conservation%20of,it's%20added%20from%20the%20outside.">Law of conservation of energy</a> and states that "energy cannot be created nor destroyed. A system always has the same amount of energy, unless it's added from the outside".</p>
<br>
<h5>An example to understand how energy works:</h5>
<p>Imagine a box sitting on a trolley. If nothing happens to this box or to the trolley, nothing should move right ? Well, when nothing moves, you can guess that energy doesn't change. <br>However, if someone started to push the trolley, the system would gain energy "<strong>added from the outside</strong>", which would cause displacement.</p>

<br>
<br>
<a name="unit"></a>
<h3>Energy's unit:</h3>
<h5>Joules (J)</h5>
<p>The most common unit to describe energy is Joule. If you intuitively want to understand what 1 Joule is equal to, it is the amount of work done when a force of 1 newton moves a body through a distance of 1 meter. <br>I hope this also gives you an intuitive sense of what "work" means in physics.</p>
<img src="https://static.thenounproject.com/png/2745221-200.png" class="smaller_illustration" alt="">
<br>
<h6>Some other units you might come across:</h6>
<ul>
  <li>Calories (cal): Usually used in food or heat measurements. 1 cal = 4,184 J (not to be confused with 1 kcal = 1000 cal = 4184 J)</li>
  <li>Kilowatt-hour (kWh): Usually used in energy-consumption measurements (electricity/light, for example). 1 kWh = 3'600'000 J</li>
</ul>
<br>
<h3>The two main types of energy in kinematics:</h3>
<p>When studying motion, we will mainly encounter two types of energy:</p>
<br>
<a name="kinetic"></a>
<h5>Kinetic energy</h5>
<p>It seems intuitive that any object <strong>moving</strong> possess some sort of energy right ? Well, kinetic energy is <strong>the energy relative to an object's speed</strong>. Any object in motion is using kinetic energy: a thrown ball, a person running, or even a charged particle in an electric field. </p>
<br>
<img src="https://images.ctfassets.net/4yflszkpcwkt/2AkP2ekAxnbwK7tkWZ2aEn/fa346311df3ba491c70eb659d7eab3dd/formula-of-kinetic-energy.png" class="bigger_illustration" alt="">
<br>
<a name="potential"></a>
<h5>Potential energy</h5>
<br>
<p>Potential energy might seem a little more abstract. In fact, an object can store some energy <strong>depending on its position, and especially its height</strong>. For example, the metal ball of a demolition machine is storing energy when it is held at an elevated position (by the way, it is this energy that will be converted into kinetic energy when the metal ball is released and thus gains speed.)</p>
<br>
<p>Well, this "stored energy of position" is what we call potential energy.</p>
<br>
<img src="https://openclipart.org/image/2000px/281653" class="smaller_illustration" alt="">
<br>
<br>
<a name="mechanical"></a>
<h3>Mechanical energy</h3>
<p>This leads us to the last energy: mechanical energy. Be careful, however, because mechanical energy isn't actually a proper type of energy. We define mechanical energy as "<strong>either the energy of an object in motion OR the energy that is stored in objects by their position</strong>". <br>Yes, this is exactly the definition of both kinetic and potential energy.</p>
<p>This means that <strong>mechanical energy is just the sum of both kinetic and potential energy</strong></p>
<img src="https://engineerfix.com/wp-content/uploads/2021/04/Mechanical-Energy.png" class="bigger_illustration" alt="">
<br>
<p>But remember what we said earlier, that energy is conserved through the motion? Well, to be more precise, maybe I should've said that <strong>mechanical energy is conserved through the motion.</strong></p>
<p>This means that while kinetic and potential energy will often vary, with one being converted to the other and vice-versa, the sum of both, aka mechanical energy, won't change. In other words, the object's speed and position will vary depending on the motion, but no energy will be added from the outside.</p>
<br>
<h4>A very helpful simulation to understand:</h4>
<p>(I recommend just testing the intro part or setting friction to "None", since we won't be talking about friction here.)</p>
<p>(Also, activating the pie chart and bar graph will really help you understand how mechanical energy is split)</p>
<br>
<iframe src="https://phet.colorado.edu/sims/html/energy-skate-park-basics/latest/energy-skate-park-basics_en.html"
        width="100%"
        height="800"
        allowfullscreen>
</iframe>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock%}
